/*==== Navbar ==== */
.navbar {
  background-image: linear-gradient(to left, #12082d, #140b34, #160d3b, #1a0d43, #1e0d4a);
  color: $color-secondary;
  height: 4.5rem;
  & .flex {
    justify-content: space-between;
  }
  & ul {
    display: flex;
    & a {
      color: $color-secondary;
      padding: 0.7rem;
      margin: 0 0.3rem;
    }
    & a:hover {
      border-bottom: 0.1rem $color-secondary solid;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*==== Showcase ==== */
.showcase {
  height: 25rem;
  background-image: linear-gradient(to left, #12082d, #140b34, #160d3b, #1a0d43, #1e0d4a);
  color: $color-secondary;
  position: relative;
  h1 {
    font-size: 2.5rem;
  }
  p {
    margin: 1.3rem 0;
    font-size: 1.05rem;
  }
  & .grid {
    grid-template-columns: 55% 45%;
    gap: 2rem;
    overflow: visible;
  }
  .showcase-form {
    position: relative;
    top: 3.8rem;
    height: 22rem;
    width: 25rem;
    padding: 2.5rem;
    z-index: 100;
    justify-self: flex-end;
    & .form-control {
      margin: 30px 0;
    }
    & input[type='text'], 
    & input[type='email'] {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 100%;
      padding: 0.2rem;
      font-size: 1rem;
    }
    & input:focus {
      outline: none;
    }
  }
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 6.5rem;
  bottom: -4.5rem;
  right: 0;
  left: 0;
  background: $color-secondary;

  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
} 

/*==== Stats ==== */
.stats { 
  padding-top: 6.3rem;
  p {
    color: lighten($color-haiti, 25%);
  }
  &-heading {
    max-width: 32rem;
    margin: auto;
  }
  & .grid h3 {
    font-size: 2.2rem;
  }
  & .grid p {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

/*==== Cli ==== */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  & > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
}

/*==== Cloud ==== */
.cloud {
  background-image: linear-gradient(to left, #12082d, #140b34, #160d3b, #1a0d43, #1e0d4a);
  & .grid {
    grid-template-columns: 4fr 3fr;
  }
}

/*==== Languages ==== */
.languages {
  .flex {
    flex-wrap: wrap;
  }
  & .card {
    text-align: center;
    margin: 0.5rem 0.6rem 2.5rem;
    transition: transform 0.2s ease-in;
    h4 {
      font-size: 1.2rem;
      margin-bottom: 0.7rem;
    }
  }
  & .card:hover {
    transform: translateY(-15px);
  }
}

/*==== Footer ==== */
.footer {
  .social a {
    margin: 0.6rem;
  }
}

